.container-body{
    min-height: calc(100vh - 200px);
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.h2{
    width: 100%;
    text-align: center;
}