.container-topo{
  background-color: var(--cor-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-centro{
  padding: 25px;
  height: 500px;
  background-color: var(--cor-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.container-baixo{
  /* height: 200px; */
  background-color: var(--cor-4);
}

.item{
  background-color: var(--cor-3);
}

h1{
  color: var(--cor-5);
  background-color: var(--cor-4);
  padding: 25px;
}

.logo{
  height: 170px;
}
.placa{
  height: 170px;
}